---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->


  {% include fragment-quest-navtabs.html type='{{[type]}}' id='{{[id]}}' active='form' %}


  <a name="root"> </a>
  <h2 id="root">Form: {{site.data.pages[page.path].title}}</h2>

  <br/>

<div id=formContainer></div>
<br> </br>

    <button onclick="showQR()">
    Show QuestionnaireResponse
    </button>
    <br> </br>
    
    <script src="{{site.data.info.assets}}assets/js/lforms.min.js"></script>
    <script src="{{site.data.info.assets}}assets/js/lformsFHIR.min.js"></script>
    
 
    <script>
  
    // Load the valueset expansions

    var exps = $.getJSON("./expansions.json");
    $.getJSON("test.json", function(data){
        exps = data;
        }).fail(function(){
            console.log("An error has occurred.");
        });

      
    // Define a FHIR Questionnaire
    var fhirQ = {% include {{[type]}}-{{[id]}}.json %}

    // find the valuesets contained and replace them with the expanded version
      fhirQ.contained.forEach(function (contained, i) {
        if (contained.resourceType == 'ValueSet'){
          vset = contained;
          contained = exps.entry.find(e => e.resource.id === vset.id).resource;
          fhirQ.contained[i] = contained
        }
      });

      // to do: find the other valuesets and replace them wiht the expanded version

     
      // Add the form to the page
      LForms.Util.addFormToPage(fhirQ, 'formContainer');
      
      // Define the function for showing the QuestionnaireResponse
      function showQR() {
        var qr = LForms.Util.getFormFHIRData('QuestionnaireResponse', 'R4');
        window.alert(JSON.stringify(qr, null, 2));
      }
   
    
    </script>
    





{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
